<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <!--<link rel="stylesheet" href="Bootstrap/bootstrap/css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="Bootstrap/bootstrap/css/grid.css"> &lt;!&ndash;main  专用&ndash;&gt;-->
    <link th:href="@{Bootstrap/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{Bootstrap/bootstrap/css/grid.css}" rel="stylesheet" />
    <!--<script src="Bootstrap/jquery-1.9.1.min.js"></script>-->
    <script th:src="@{Bootstrap/jquery-1.9.1.min.js}"></script>
    <!--<script src="Bootstrap/bootstrap/js/bootstrap.min.js"></script>-->
    <script th:src="@{Bootstrap/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<!--<section>-->
<!--<h3>View engine maintenance status</h3>-->
<!--</section>-->
<!--<hr>-->
<table th:if="${not #lists.isEmpty(dateBarList)}">
    <tr>
        <td style="width: 140px;">
            <strong>Date Bar</strong>
        </td>
        <td th:each="dateOne:${dateBarList}">
            <div class="rownew" >
                <div class="mycol" th:text="${dateOne}"></div>
            </div>
        </td>
    </tr>
</table>


<table th:if="${not #lists.isEmpty(engineList)}">
    <tr style="height: 10px">
    </tr>

    <tr style="margin-top: 10px" th:each="engineDto:${engineList}">
        <td style="width: 140px;" th:text="${engineDto.soNo}">
        </td>
        <td>
            <div class="rownew" th:style="${engineDto.marginLeft}" >
                <div class="mycol myplan" th:style="${engineDto.g0width}" >G0</div>
                <div class="mycol myplan" th:style="${engineDto.g1width}" >G1</div>
                <div class="mycol myplan" th:style="${engineDto.g2width}" >G2</div>
                <div class="mycol myplan" th:style="${engineDto.g3width}" >G3</div>
            </div>
        </td>
    </tr>

</table>


</body>
</html>