<!DOCTYPE html>
<html>
<head >
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="Bootstrap/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="Bootstrap/bootstrap-table.css">
    <link rel="stylesheet" href="Bootstrap/bootstrap-datetimepicker.min.css">
    <script src="Bootstrap/jquery-1.9.1.min.js"></script>
    <script src="Bootstrap/bootstrap/js/bootstrap.min.js"></script>
    <script src="Bootstrap/bootstrap-table.min.js"></script>
    <script src="Bootstrap/bootstrap-datetimepicker.min.js"></script>

</head>
<body style="width: 1000px">
<section class="content-header">
    <h3>Option Plan Setting</h3>
    <hr>
</section>
<section class="content table-content">
    <form class="form-inline" >
        <!-- 工具栏 -->
        <div id="toolbar">
            <input type="button" value="add option" id="addBtn" data-toggle="modal" data-target="#addModal"
                   class="btn btn-primary" onclick="resetAddModal()"/>
            <input type="button" value="modify option" id="editBtn" data-toggle="modal"
                   class="btn btn-primary" onclick="editOption()"/>
            <!--todo  删除要做关联删除，暂时注释-->
            <!--<input type="button" value="delete option" id="deleteBtn" data-toggle="modal"-->
                   <!--class="btn btn-primary" onclick="deleteOption()"/>-->
        </div>
        <!-- bootstrapTable -->
    </form>
    <table id="dataGrid">
    </table>
</section>
<!-- 新增用户的模态框，在修改用户中将获取一行的值放入input中，改变一些参数继续使用 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>add plan</h3>
            </div>
            <div class="modal-body" >
                <form id="addOptionForm" action="/option/add" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputOpname" class="col-sm-3 control-label">option_name</label>
                        <div class="col-sm-7">
                            <input type="text" name="Opname" class="col-sm-4 form-control" id="inputOpname" placeholder=""/>
                        </div>
                        <label id="errorNo" for="inputOpname" class="col-sm-3 control-label"></label>
                    </div>

                    <div class="form-group">
                        <label for="inputgZero" class="col-sm-3 control-label">g0_days</label>
                        <div class="col-sm-7">
                            <input type="text" name="gZero" class="col-sm-4 form-control" id="inputgZero" placeholder=""/>
                        </div>
                        <label id="errorOption_modle" for="inputgZero" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="inputgOne" class="col-sm-3 control-label">g1_days</label>
                        <div class="col-sm-7">
                            <input type="text" name="gOne" class="col-sm-4 form-control" id="inputgOne" placeholder=""/>
                        </div>
                        <label id="errorCustomer" for="inputgOne" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="inputgTwo" class="col-sm-3 control-label">g2_days</label>
                        <div class="col-sm-7">
                            <input type="text" name="gTwo" class="col-sm-4 form-control" id="inputgTwo" placeholder=""/>
                        </div>
                        <label id="errorgTwo" for="inputgTwo" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="inputgThree" class="col-sm-3 control-label">g3_days</label>
                        <div class="col-sm-7">
                            <input type="text" name="gThree" class="col-sm-4 form-control" id="inputgThree" placeholder=""/>
                        </div>
                        <label id="errorgThree" for="inputgTwo" class="col-sm-3 control-label"></label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="conf1" class="btn btn-default" onclick="addOption()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- 修改用户的模态框 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Modify</h3>
            </div>
            <div class="modal-body">

                <form id="editForm" method="post" class="form-horizontal">
                    <div class="form-group" style="display:none">
                        <label for="editId" class="col-sm-3 control-label">ID</label>
                        <div class="col-sm-7">
                            <input type="text" name="oid"   class="form-control" id="editId" placeholder="" />
                        </div>
                        <label id="errorId" for="editId" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="editopname" class="col-sm-3 control-label">name</label>
                        <div class="col-sm-7">
                            <input type="text" name="opname" class="form-control" id="editopname" placeholder=""/>
                        </div>
                        <label id="errorSoNo" for="editopname" class="col-sm-3 control-label"></label>
                    </div>

                    <div class="form-group">
                        <label for="editgZero" class="col-sm-3 control-label">g0_days</label>
                        <div class="col-sm-7">
                            <input type="text" name="gZero" class="col-sm-4 form-control" id="editgZero" placeholder=""/>
                        </div>
                        <label id="errorName" for="editgZero" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label  for="editgOne" class="col-sm-3 control-label">g1_days</label>
                        <div class="col-sm-7">
                            <input type="text" name="gOne" class="col-sm-4 form-control" id="editgOne" placeholder=""/>
                        </div>
                        <label id="errorCustomer_ed"  for="editgOne" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group" >
                        <label  for ="editgTwo" class="col-sm-3 control-label">g2_days</label>
                        <div class="col-sm-7">
                            <input type="text" name="gTwo" class="col-sm-4 form-control" id="editgTwo" placeholder="" />
                        </div>
                        <label id="errorOptionId"  for="editgTwo" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group" >
                        <label  for ="editgThree" class="col-sm-3 control-label">g3_days</label>
                        <div class="col-sm-7">
                            <input type="text" name="gThree" class="col-sm-4 form-control" id="editgThree" placeholder="" />
                        </div>
                        <label id="errorgThreeedt" class="col-sm-3 control-label"></label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="conf" class="btn btn-default" onclick="updateOption()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tip" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Tips</h3>
            </div>
            <div class="modal-body" align="center">
                <h4 id="tipContent">Add Success</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


</body>
<script type="text/javascript">
    $(function() {
        //初始加载
        initDataGrid();
    });

    //时间控件设置
    $('.form_date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    function initDataGrid() {
        //创建bootstrapTable
        $("#dataGrid").bootstrapTable({
            method:"POST",
            //极为重要，缺失无法执行queryParams，传递page参数
            contentType : "application/x-www-form-urlencoded",
            dataType:"json",
            url:'/option/all',
            queryParams:queryParam,
            pagination:true,//显示分页条：页码，条数等
            striped:true,//隔行变色
            pageNumber:1,//首页页码
            pageSize:10, //分页，页面数据条数
            uniqueId:"id",//Indicate an unique identifier for each row
            dataPagination:"true"  ,//是否支持分页
            sidePagination:"server",//在服务器分页
            toolbar:"#toolbar",//工具栏
            columns : [{
                checkbox:"true",
                field : "box"
            },  {
                title : "ID",
                field : "oid",
                visible: false
            }, {
                title : "name",
                field : "opname"
            }, {
                title : "g0_days",
                field : "gZero"

            }, {
                title : "g1_days",
                field : "gOne"
            }, {
                title : "g2_days",
                field : "gTwo"
            }, {
                title : "g3_days",
                field : "gThree"
            }],
            search : true,//搜索
            searchOnEnterKey : true,
            showRefresh : true,//刷新
            showToggle : false//切换元素的可见状态  ,暂时不需要

        });
    }
    function queryParam(params){
        var param = {
            limit : this.limit, // 页面大小
            offset : this.offset, // 页码
            pageNumber : this.pageNumber,
            pageSize : this.pageSize
        };
        return param;
    }
    //点击取消后清空表单中已写信息
    function resetAddModal(){
        document.getElementById("addOptionForm").reset();
    }
    //新增用户
    function addOption(){
        var param = $("#addOptionForm").serializeArray();
        debugger;
        // $("#conf1").attr("onclick","addOption()");  todo 这行可以删除吗
        $.ajax({
            url:"/option/add",
            method:"post",
            data:param,
            dataType:"json",
            success:function(data){
                if(data.state=="success"){
                    document.getElementById("tipContent").innerText="Add success.";
                    $("#tip").modal('show');
                    $("#addModal").modal('hide');
                    $("#dataGrid").bootstrapTable('refresh');
                }
            },
            error:function(){
                document.getElementById("al").innerText="Add fail.";
                $("#tip").modal('show');
            }
        });
    }
    //修改用户
    function editOption(){
        //获取选中行的数据
        var rows = $("#dataGrid").bootstrapTable('getSelections');
        if(rows.length!=1){
            document.getElementById("tipContent").innerText="please select one record .";
            $("#tip").modal('show');
        }else{
            var row = rows[0];
            $('#editId').val(row.oid);
            $('#editopname').val(row.opname);
            $('#editgZero').val(row.gZero);
            $('#editgOne').val(row.gOne);
            $('#editgTwo').val(row.gTwo);
            $('#editgThree').val(row.gThree);
            $("#editModal").modal("show");
        }
    }
    function updateOption(){
        var param = $("#editForm").serializeArray();
        //设为disable则无法获取
        $.ajax({
            url:"/option/update",
            method:"post",
            data:param,
            dataType:"json",
            success:function(data){
                if(data.state=="success"){
                    $("#editModal").modal("hide");
                    document.getElementById("tipContent").innerText="Modify success.";
                    $("#dataGrid").bootstrapTable('refresh');
                    $("#tip").modal('show');
                }
            },
            error:function(data){
                document.getElementById("tipContent").innerText="Modify fail";
                $("#tip").modal('show');
            }
        });
    }

    function deleteOption(){
        var rows = $("#dataGrid").bootstrapTable("getSelections");
        var ids = [];
        var len = rows.length;
        for(var i=0;i<len;i++){
            ids.push(rows[i].oid);
        }
        if(rows.length<1){
            document.getElementById("tipContent").innerText="Please select one record  at least.";
            $("#tip").modal('show');
        }else{
            $.ajax({
                url:"/option/delete",
                dataType:"json",
                traditional: true,//属性在这里设置
                method:"post",
                data:{
                    "ids":ids
                },
                success:function(data){
                    document.getElementById("tipContent").innerText="delete success";
                    $("#tip").modal('show');
                    $("#dataGrid").bootstrapTable("refresh");
                },
                error:function(){
                    document.getElementById("tipContent").innerText="delete fail";
                    $("#tip").modal('show');
                }
            });
        }


    }

</script>
</html>