<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="Bootstrap/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="Bootstrap/bootstrap-table.css">
    <link rel="stylesheet" href="Bootstrap/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="Bootstrap/bootstrap-select-1.12.4/css/bootstrap-select.css">
    <script src="Bootstrap/jquery-1.9.1.min.js"></script>
    <script src="Bootstrap/bootstrap/js/bootstrap.min.js"></script>
    <script src="Bootstrap/bootstrap-table.min.js"></script>
    <script src="Bootstrap/bootstrap-select-1.12.4/js/bootstrap-select.js"></script>

</head>
<body style="width: 1000px">
<section class="content-header">
    <h3>Engine Plan Setting</h3>
    <hr>
</section>
<section class="content table-content">
    <form class="form-inline" >
        <!-- 工具栏 -->
        <div id="toolbar">
            <input type="button" value="add plan" id="addBtn" data-toggle="modal" data-target="#addModal"
                   class="btn btn-primary" onclick="resetAddModal()"/>
            <input type="button" value="modify plan" id="editBtn" data-toggle="modal"
                   class="btn btn-primary" onclick="editEngine()"/>
            <input type="button" value="delete plan" id="deleteBtn" data-toggle="modal"
                   class="btn btn-primary" onclick="deleteEngine()"/>
        </div>
        <!-- bootstrapTable -->
    </form>
    <table id="dataGrid">
    </table>
</section>
<!-- 新增用户的模态框，在修改用户中将获取一行的值放入input中，改变一些参数继续使用 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>add plan</h3>
            </div>
            <div class="modal-body" >
                <form id="addEngineForm" action="/engine/add" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputNO" class="col-sm-3 control-label">SO_NO</label>
                        <div class="col-sm-7">
                            <input type="text" name="soNo" class="col-sm-4 form-control" id="inputNo" placeholder=""/>
                        </div>
                        <label id="errorNo" for="inputNo" class="col-sm-3 control-label"></label>
                    </div>

                    <div class="form-group">
                        <label for="inputEngine_modle" class="col-sm-3 control-label">engine_modle</label>
                        <div class="col-sm-7">
                            <input type="text" name="engineModle" class="col-sm-4 form-control" id="inputEngine_modle" placeholder=""/>
                        </div>
                        <label id="errorEngine_modle" for="inputEngine_modle" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="inputCustomer" class="col-sm-3 control-label">customer</label>
                        <div class="col-sm-7">
                            <input type="text" name="customer" class="col-sm-4 form-control" id="inputCustomer" placeholder=""/>
                        </div>
                        <label id="errorCustomer" for="inputCustomer" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="inputOptionId" class="col-sm-3 control-label">option</label>
                        <div class="col-sm-7">
                            <select id = "inputOptionId"  name="optionId" class="selectpicker">
                            </select>
                        </div>

                        <label id="errorOption" for="inputOptionId" class="col-sm-3 control-label"></label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="conf1" class="btn btn-primary" onclick="addEngine()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- 修改用户的模态框 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Modify</h3>
            </div>
            <div class="modal-body">

                <form id="editForm" method="post" class="form-horizontal">
                    <div class="form-group" style="display:none">
                        <label for="editId" class="col-sm-3 control-label">ID</label>
                        <div class="col-sm-7">
                            <input type="id" name="id"   class="form-control" id="editId" placeholder="" />
                        </div>
                        <label id="errorId" for="editId" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label for="editSoNo" class="col-sm-3 control-label">soNo</label>
                        <div class="col-sm-7">
                            <input type="text" name="soNo" class="form-control" id="editSoNo" placeholder=""/>
                        </div>
                        <label id="errorSoNo" for="editSoNo" class="col-sm-3 control-label"></label>
                    </div>

                    <div class="form-group">
                        <label for="editEngineModle" class="col-sm-3 control-label">engineModle</label>
                        <div class="col-sm-7">
                            <input type="text" name="engineModle" class="col-sm-4 form-control" id="editEngineModle" placeholder=""/>
                        </div>
                        <label id="errorName" for="editEngineModle" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group">
                        <label  for="editCustomer" class="col-sm-3 control-label">customer</label>
                        <div class="col-sm-7">
                            <input type="text" name="customer" class="col-sm-4 form-control" id="editCustomer" placeholder=""/>
                        </div>
                        <label id="errorCustomer_ed"  for="editCustomer" class="col-sm-3 control-label"></label>
                    </div>
                    <div class="form-group" >
                        <label  for ="editOptionId" class="col-sm-3 control-label">option</label>
                        <div class="col-sm-7">
                            <select id = "editOptionId" name="optionId" class="selectpicker">
                            </select>
                        </div>
                        <label id="errorOptionId" class="col-sm-3 control-label"></label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="conf" class="btn btn-primary" onclick="updateEngine()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tip" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Tips</h3>
            </div>
            <div class="modal-body" align="center">
                <h4 id="tipContent">Add Success</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


</body>
<script type="text/javascript">
    $(function() {
        //初始加载
        initDataGrid();
        initSelect();
    });

    function initSelect() {
        $(".selectpicker").selectpicker({
            noneSelectedText : 'please select'
        });
        //
        // $(window).on('load', function() {
        //     // $(".selectpicker").selectpicker('val', '');
        //     $(".selectpicker").selectpicker('refresh');
        // });

        //下拉数据加载
        $.ajax({
            type : 'get',
            url : '/option/list',
            dataType : 'json',
            success : function(datas) {//返回list数据并循环获取

                var lists= datas.lists;
                var select = $("#inputOptionId");
                var select2= $("#editOptionId");
                for (var i = 0; i < lists.length; i++) {
                    select.append("<option value='"+lists[i].oid+"'>"
                        + lists[i].opname + "</option>");
                    select2.append("<option value='"+lists[i].oid+"'>"
                        + lists[i].opname + "</option>");
                }
                select.selectpicker('val', '');
                select.selectpicker('refresh');
            }
        });
    }

    //时间控件设置
    $('.form_date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    function initDataGrid() {
        //创建bootstrapTable
        $("#dataGrid").bootstrapTable({
            method:"POST",
            //极为重要，缺失无法执行queryParams，传递page参数
            contentType : "application/x-www-form-urlencoded",
            dataType:"json",
            url:'/engine/all',
            queryParams:queryParam,
            pagination:true,//显示分页条：页码，条数等
            striped:true,//隔行变色
            pageNumber:1,//首页页码
            pageSize:10, //分页，页面数据条数
            uniqueId:"id",//Indicate an unique identifier for each row
            dataPagination:"true"  ,//是否支持分页
            sidePagination:"server",//在服务器分页
            toolbar:"#toolbar",//工具栏
            columns : [{
                checkbox:"true",
                field : "box"
            },  {
                title : "ID",
                field : "id",
                visible: false
            }, {
                title : "so_no",
                field : "soNo"
            }, {
                title : "engine_modle",
                field : "engineModle"

            }, {
                title : "customer",
                field : "customer"
            },  {
                title : "option_id",
                field : "optionId",
                visible: false
            }, {
                title : "option",
                field : "option.opname"
            }],
            search : true,//搜索
            searchOnEnterKey : true,
            showRefresh : true,//刷新
            showToggle : false//切换元素的可见状态  ,暂时不需要

        });
    }
    function queryParam(params){
        var param = {
            limit : this.limit, // 页面大小
            offset : this.offset, // 页码
            pageNumber : this.pageNumber,
            pageSize : this.pageSize
        };
        return param;
    }
    //点击取消后清空表单中已写信息
    function resetAddModal(){
        $(".selectpicker").selectpicker('val', '');
        $('.selectpicker').selectpicker('refresh');
        document.getElementById("addEngineForm").reset();
    }
    //新增用户
    function addEngine(){
        var param = $("#addEngineForm").serializeArray();
        debugger;
        // $("#conf1").attr("onclick","addEngine()");  todo 这行可以删除吗
        $.ajax({
            url:"/engine/add",
            method:"post",
            data:param,
            dataType:"json",
            success:function(data){
                if(data.state=="success"){
                    document.getElementById("tipContent").innerText="Add Success";
                    $("#tip").modal('show');
                    $("#addModal").modal('hide');
                    $("#dataGrid").bootstrapTable('refresh');
                }
            },
            error:function(){
                document.getElementById("al").innerText="Add Fail";
                $("#tip").modal('show');
            }
        });
    }
    //修改用户
    function editEngine(){
        //获取选中行的数据
        var rows = $("#dataGrid").bootstrapTable('getSelections');
        if(rows.length!=1){
            document.getElementById("tipContent").innerText="please select one record  .";
            $("#tip").modal('show');
        }else{
            var row = rows[0];
            $('#editId').val(row.id);
            $('#editSoNo').val(row.soNo);
            $('#editEngineModle').val(row.engineModle);
            $('#editCustomer').val(row.customer);
            $('.selectpicker').selectpicker('val', row.option.oid);
            $('.selectpicker').selectpicker('refresh');
            $('#editStartDate').val(row.startDate);
            $("#editModal").modal("show");
        }
    }
    function updateEngine(){
        var param = $("#editForm").serializeArray();
        //设为disable则无法获取
        $.ajax({
            url:"/engine/update",
            method:"post",
            data:param,
            dataType:"json",
            success:function(data){
                if(data.state=="success"){
                    $("#editModal").modal("hide");
                    document.getElementById("tipContent").innerText="Update success.";
                    $("#dataGrid").bootstrapTable('refresh');
                    $("#tip").modal('show');
                }
            },
            error:function(data){
                alert("wrong");
            }
        });
    }

    function deleteEngine(){
        var rows = $("#dataGrid").bootstrapTable("getSelections");
        var ids = [];
        var len = rows.length;
        for(var i=0;i<len;i++){
            ids.push(rows[i].id);
        }
        debugger;
        if(rows.length<1){
            document.getElementById("tipContent").innerText="Please select one record  at least.";
            $("#tip").modal('show');
        } else {
            $.ajax({
                url: "/engine/delete",
                dataType: "json",
                traditional: true,//属性在这里设置
                method: "post",
                data: {
                    "ids": ids
                },
                success: function (data) {
                    document.getElementById("tipContent").innerText = "delete success";
                    $("#tip").modal('show');
                    $("#dataGrid").bootstrapTable("refresh");
                },
                error: function () {
                    document.getElementById("tipContent").innerText = "delete fail";
                    $("#tip").modal('show');
                }
            });
        }
    }

</script>
</html>