<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntt.mapper.EngineMapper">
    <resultMap id="BaseResultMap" type="com.ntt.model.Engine">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="so_no" jdbcType="VARCHAR" property="soNo" />
        <result column="engine_modle" jdbcType="VARCHAR" property="engineModle" />
        <result column="customer" jdbcType="VARCHAR" property="customer" />
        <result column="option_id" jdbcType="VARCHAR" property="optionId" />
        <result column="start_date" jdbcType="VARCHAR" property="startDate" />
    </resultMap>


    <insert id="insert" parameterType="com.ntt.model.Engine" useGeneratedKeys="true" >
    insert into t_engine ( so_no, engine_modle,
      customer, option_id, start_date
      )
    values ( #{soNo,jdbcType=VARCHAR}, #{engineModle,jdbcType=VARCHAR},
      #{customer,jdbcType=VARCHAR}, #{optionId,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}
      )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.ntt.model.Engine">
    update t_engine
    set so_no = #{soNo,jdbcType=VARCHAR},
      engine_modle = #{engineModle,jdbcType=VARCHAR},
      customer = #{customer,jdbcType=VARCHAR},
      option_id = #{optionId,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_engine
    where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByIds" parameterType="java.lang.String">
        DELETE FROM t_engine where id in
        <foreach item="idItem" collection="array" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>
    <!--<select id="getAllEngineList" resultMap="BaseResultMap">-->
      <!--select * from t_engine-->
    <!--</select>-->

    <select id="getAllEngineList" resultMap="BaseResultMap2">
    SELECT
    e.*,o.oid ,o.opname
    FROM
    t_engine e,t_option o
    WHERE e.option_id = o.oid
    </select>
    <resultMap type="com.ntt.model.Engine" id="BaseResultMap2">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="so_no" jdbcType="VARCHAR" property="soNo" />
        <result column="engine_modle" jdbcType="VARCHAR" property="engineModle" />
        <result column="customer" jdbcType="VARCHAR" property="customer" />
        <result column="start_date" jdbcType="VARCHAR" property="startDate" />
        <association property="option" column="option_id" javaType="com.ntt.model.Option">
            <id property="oid" jdbcType="INTEGER" column="oid" />
            <result property="opname" column="opname" />
        </association>
    </resultMap>

    <select id="getAllEngineAndOptionList" resultMap="BaseResultMap3">
    SELECT
    e.id,e.so_no,e.start_date,o.g_zero,o.g_one,o.g_two,o.g_three
    FROM
    t_engine e,t_option o
    WHERE e.option_id = o.oid
    </select>
    <resultMap type="com.ntt.model.Engine" id="BaseResultMap3">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="so_no" jdbcType="VARCHAR" property="soNo" />
        <result column="start_date" jdbcType="VARCHAR" property="startDate" />
        <association property="option" column="option_id" javaType="com.ntt.model.Option">
            <id property="oid" jdbcType="INTEGER" column="oid" />
            <result property="gZero" column="g_zero" />
            <result property="gOne" column="g_one" />
            <result property="gTwo" column="g_two" />
            <result property="gThree" column="g_three" />
        </association>
    </resultMap>


</mapper>