<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntt.mapper.OptionMapper">
  <resultMap id="BaseResultMap" type="com.ntt.model.Option">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="opname" jdbcType="VARCHAR" property="opname" />
    <result column="g_zero" jdbcType="INTEGER" property="gZero" />
    <result column="g_one" jdbcType="INTEGER" property="gOne" />
    <result column="g_two" jdbcType="INTEGER" property="gTwo" />
    <result column="g_three" jdbcType="INTEGER" property="gThree" />
    <result column="o_start_date" jdbcType="VARCHAR" property="oStartDate" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, opname, g_zero, g_one, g_two, g_three ,o_start_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_option
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_option
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ntt.model.Option">
    insert into t_option (oid, opname, g_zero,
      g_one, g_two, g_three,o_start_date)
    values (#{oid,jdbcType=INTEGER}, #{opname,jdbcType=VARCHAR}, #{gZero,jdbcType=INTEGER},
      #{gOne,jdbcType=INTEGER}, #{gTwo,jdbcType=INTEGER}, #{gThree,jdbcType=INTEGER}, #{oStartDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ntt.model.Option">
    insert into t_option
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="opname != null">
        opname,
      </if>
      <if test="gZero != null">
        g_zero,
      </if>
      <if test="gOne != null">
        g_one,
      </if>
      <if test="gTwo != null">
        g_two,
      </if>
      <if test="gThree != null">
        g_three,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="opname != null">
        #{opname,jdbcType=VARCHAR},
      </if>
      <if test="gZero != null">
        #{gZero,jdbcType=INTEGER},
      </if>
      <if test="gOne != null">
        #{gOne,jdbcType=INTEGER},
      </if>
      <if test="gTwo != null">
        #{gTwo,jdbcType=INTEGER},
      </if>
      <if test="gThree != null">
        #{gThree,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ntt.model.Option">
    update t_option
    <set>
      <if test="opname != null">
        opname = #{opname,jdbcType=VARCHAR},
      </if>
      <if test="gZero != null">
        g_zero = #{gZero,jdbcType=INTEGER},
      </if>
      <if test="gOne != null">
        g_one = #{gOne,jdbcType=INTEGER},
      </if>
      <if test="gTwo != null">
        g_two = #{gTwo,jdbcType=INTEGER},
      </if>
      <if test="gThree != null">
        g_three = #{gThree,jdbcType=INTEGER},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ntt.model.Option">
    update t_option
    set opname = #{opname,jdbcType=VARCHAR},
      g_zero = #{gZero,jdbcType=INTEGER},
      g_one = #{gOne,jdbcType=INTEGER},
      g_two = #{gTwo,jdbcType=INTEGER},
      g_three = #{gThree,jdbcType=INTEGER},
      o_start_date = #{oStartDate,jdbcType=VARCHAR}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
    <delete id="deleteByIds" parameterType="java.lang.String">
        DELETE FROM t_option where oid in
        <foreach item="oidItem" collection="array" open="(" separator="," close=")">
            #{oidItem}
        </foreach>
    </delete>
    <select id="getAllOptionList" resultMap="BaseResultMap">
      select * from t_option
    </select>
</mapper>